.heading {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  margin-top: 10px;
}
.heading h1 {
  margin-bottom: 0.5rem;
  font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.table {
  /* border: 1px solid #e6e7e8; */
  margin-top: 1rem !important;
}

.bg-blend {
  background-color: #c2c2a3;
}

.bg-blend th {
  vertical-align: bottom;
  /* border: 1px solid #e6e7e8; */
  padding: 0.3rem;
}

.bg-row td {
  /* border: 1px solid #e6e7e8; */
  padding: 0.3rem;
}

/* .bg-row :nth-child(6) {
} */
.bg-row :nth-child(6) .edit-button {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-left: 10px;
}

.bg-row :nth-child(6) .disable-button {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
}
